.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hoverIconSpacer {
  width:1em;
  height:1em;
  display: inline-block;
}
.hoverIcon {
  float:right;
  height:0;
}

.MuiSvgIcon-root {
  margin: 0px 5px;
}
.UserActions .MuiSvgIcon-root {
  margin: 0px;
}

.MuiFormControl-root {
  margin-top: 10px !important;
}

.UserActions {
  text-align: left;
  background-color: #ddd;
}

.navMenu {
  display: inline-block;
}

.userMenu {
  display: inline-block;
  position: absolute;
  right: 0;
}

.motd {
  font: 2em bold;
  background-color: #3b3;
  color: white;
  padding: 10px;
}

.GameDetail {
  padding: 10px;
  width: 50%;
  margin: auto;
  border: 1px solid #888;
  box-shadow: 7px 7px 5px #aaa;
}

.Footer {
  height: 2em;
  background-color: #888;
  position: absolute;
  bottom: 0;
}

.DataManager,
.Navy,
.Turn,
.Users {
  height: 500px;
  width: 850px;
  margin: 20px auto;
}

.type-fleet .MuiDataGrid-cell {
  font-weight: bold;
}